extends layout

block stylesheets
	

block content

	#header
		.jumbotron
			h1 CARLBot Olympics
			.container-fluid
				.col-md-6 
					p A hackathon for robot makers in Arkansas
				.col-md-4
					p December 6 2014
	#content
		.container
			.row
				.col-md-4
					.info-box
						.title-bar 
							.title What is it?
						.content 
							span The CARLbot olympics is an all-day hackathon-style event where attendees design, build, and program a robot to compete in events. 
				.col-md-4
					.info-box
						.title-bar 
							.title Who is it for?
						.content 
							span  Software developers, engineers, hobbyists, and anyone with a knack for making things
				.col-md-4
					.info-box
						.title-bar 
							.title What's a CARLBot?
						.content 
							span  Software developers, engineers, hobbyists, and anyone with a knack for making things
			.row
				.col-md-8
					.info-box
						.title-bar
							.title How does it work?
						.content
							span Attendees will sign up either individually or in teams of two or three. The cost of the ticket includes the CARLbot kit, access to all kinds of parts, sensors, and tools during the day of the event, lunch, and a t-shirt. Proceeds will benefit the Rock City Robots -- the FIRST robotics team that is sponsoring the event. 



